top/src/main/resources/META-INF/enunciate-2.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      The Enunciate configuration schema. This is provided primarily for documentation purposes and to support
      code editors that support XML schema validation.

      When Enunciate parses the configuration file, there is no validation performed. This is because Enunciate
      can be extended with other modules that might have additional configuration options not shown in this
      schema.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="enunciate">

    <xs:annotation>
      <xs:documentation>
        The root "enunciate" element for the configuration.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1" default="Web Service API">
          <xs:annotation>
            <xs:documentation>A human-readable title for the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="description" type="description" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>A description or introduction to the API, HTML formatted.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="copyright" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>A copyright for any text or documentation generated from the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="terms" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Terms of service that govern that API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="code-license" type="license" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>The license that governs the use of the generated code libraries.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="api-license" type="license" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>The license that governs the use of the Web service API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="contact" type="contact" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Contact info for the Web service API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="application" type="application" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Information about the application that hosts the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="api-classes" type="api-classes" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Configuration of the server-side classes that define the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Facet configuration for the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="namespaces" type="namespaces" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Configuration of the namespaces into which the API is grouped.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="modules" type="modules" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Configuration of the modules that do the work of processing the API.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="slug" type="xs:string" default="api">
        <xs:annotation>
          <xs:documentation>A "slug" (short, unique, user-friendly, seo-friendly, url-friendly label) for the API.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation>A version for this API.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="description">
    <xs:annotation>
      <xs:documentation>A description of the project</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="package" type="xs:string">
          <xs:annotation>
            <xs:documentation>The package that contains package-info with the text of the description.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="license">
    <xs:annotation>
      <xs:documentation>A license that governs the project.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string">
          <xs:annotation>
            <xs:documentation>A name for the license.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="url" type="xs:string">
          <xs:annotation>
            <xs:documentation>A URL for the license.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation>A file that contains the text of the license.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="contact">
    <xs:annotation>
      <xs:documentation>Contact information for the project.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>A name for the contact.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="url" type="xs:string">
      <xs:annotation>
        <xs:documentation>A URL for the contact.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="email" type="xs:string">
      <xs:annotation>
        <xs:documentation>An email for the contact.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="application">
    <xs:annotation>
      <xs:documentation>
        Configuration of the application with which the documentation is to be integrated.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="root" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>The root URI of the application.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="facets">
    <xs:annotation>
      <xs:documentation>
        The set of facets to include/exclude.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="include" type="reference-by-name" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclude" type="reference-by-name" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="api-classes">
    <xs:annotation>
      <xs:documentation>
        The set of classes to include/exclude.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="include" type="reference-by-pattern" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclude" type="reference-by-pattern" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="namespaces">

    <xs:annotation>
      <xs:documentation>
        Set of namespace declarations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="namespace" type="namespace" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="default" type="xs:string">
      <xs:annotation>
        <xs:documentation>The default namespace. Providing this can provide some optimization of aesthetics and readability.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace declaration. The id is the prefix that will be used as needed.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="uri" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modules">
    <xs:annotation>
      <xs:documentation>
        Set of modules to use to enunciate the web API.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="c-xml-client" type="module-c-xml-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="csharp-xml-client" type="module-csharp-xml-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="docs" type="module-docs" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxb" type="module-jaxb" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jackson" type="module-jackson" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jackson1" type="module-jackson1" minOccurs="0" maxOccurs="1"/>
      <xs:element name="java-xml-client" type="module-java-xml-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="java-json-client" type="module-java-json-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxrs" type="module-jaxrs" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxws" type="module-jaxws" minOccurs="0" maxOccurs="1"/>
      <xs:element name="gwt-json-overlay" type="module-gwt-json-overlay" minOccurs="0" maxOccurs="1"/>
      <xs:element name="obj-c-xml-client" type="module-obj-c-xml-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="php-xml-client" type="module-php-xml-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="php-json-client" type="module-php-json-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ruby-json-client" type="module-ruby-json-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="swagger" type="module-swagger" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idl" type="module-idl" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="module-idl">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="schema" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="appinfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="useFile" type="xs:string"/>
              <xs:attribute name="filename" type="xs:string"/>
              <xs:attribute name="location" type="xs:string"/>
              <xs:attribute name="jaxbBindingVersion" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="wsdl" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="useFile" type="xs:string"/>
              <xs:attribute name="filename" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="wadlStylesheetUri" type="xs:string"/>
        <xs:attribute name="disableWadl" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-java-xml-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="server-side-type" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="disableCompile" type="xs:boolean"/>
        <xs:attribute name="bundleSourcesWithClasses" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-java-json-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="server-side-type" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="disableCompile" type="xs:boolean"/>
        <xs:attribute name="bundleSourcesWithClasses" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-gwt-json-overlay">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
        <xs:attribute name="slug" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-csharp-xml-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="compileExecutable" type="xs:string"/>
        <xs:attribute name="compileCommand" type="xs:string"/>
        <xs:attribute name="disableCompile" type="xs:boolean" default="false"/>
        <xs:attribute name="bundleFileName" type="xs:string"/>
        <xs:attribute name="DLLFileName" type="xs:string"/>
        <xs:attribute name="docXmlFileName" type="xs:string"/>
        <xs:attribute name="sourceFileName" type="xs:string"/>
        <xs:attribute name="singleFilePerClass" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-ruby-json-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-php-xml-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="singleFilePerClass" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-php-json-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="singleFilePerClass" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-swagger">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="host" type="xs:string"/>
        <xs:attribute name="basePath" type="xs:string"/>
        <xs:attribute name="css" type="xs:string"/>
        <xs:attribute name="base" type="xs:string"/>
        <xs:attribute name="docsSubdir" type="xs:string"/>
        <xs:attribute name="freemarkerProcessingTemplate" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-c-xml-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="typeDefinitionNamePattern" type="xs:string"/>
        <xs:attribute name="enumConstantNamePattern" type="xs:string"/>
        <xs:attribute name="separateCommonCode" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-obj-c-xml-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required"/>
              <xs:attribute name="identifier" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="slug" type="xs:string"/>
        <xs:attribute name="packageIdentifierPattern" type="xs:string"/>
        <xs:attribute name="typeDefinitionNamePattern" type="xs:string"/>
        <xs:attribute name="enumConstantNamePattern" type="xs:string"/>
        <xs:attribute name="translateIdTo" type="xs:string"/>
        <xs:attribute name="separateCommonCode" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxb">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="datatype-detection" type="datatype-detection-strategy">
          <xs:annotation>
            <xs:documentation>The detection strategy to use for Jackson data types.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jackson">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="honorJaxb" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether Jackson honors JAXB annotations. By default, JAXB annotations will be honors if jackson-xs is on the classpath.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datatype-detection" type="datatype-detection-strategy">
          <xs:annotation>
            <xs:documentation>The detection strategy to use for Jackson data types.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jackson1">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="honorJaxb" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether Jackson honors JAXB annotations. By default, JAXB annotations will be honors if jackson-xs is on the classpath.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datatype-detection" type="datatype-detection-strategy">
          <xs:annotation>
            <xs:documentation>The detection strategy to use for Jackson data types.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="datatype-detection-strategy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="passive">
        <xs:annotation>
          <xs:documentation>Data types will be detected only when other modules and services explicitly depend on the data types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aggressive">
        <xs:annotation>
          <xs:documentation>Data types will be detected aggressively, by scanning the entire classpath.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="local">
        <xs:annotation>
          <xs:documentation>Data types will be detected only from among those in the source code of the current invocation context.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="module-jaxrs">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="application" minOccurs="0" maxOccurs="1" type="application-context">
            <xs:annotation>
              <xs:documentation>
                Some JAX-RS applications could be mounted at a subcontext of the application. This elements allows for Enunciate to be aware of the
                subcontext of the JAX-RS application.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="custom-resource-parameter-annotation" minOccurs="0" maxOccurs="unbounded" type="reference-by-fqn">
            <xs:annotation>
              <xs:documentation>
                An additional custom resource parameter annotation. By default, Enunciate is aware of implementation-specific resource parameter annotations,
                but this allows an additional annotation to be configured.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="custom-system-parameter-annotation" minOccurs="0" maxOccurs="unbounded" type="reference-by-fqn">
            <xs:annotation>
              <xs:documentation>
                An additional custom resource parameter annotation. By default, Enunciate is aware of implementation-specific system parameter annotations,
                but this allows an additional annotation to be configured.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="groupBy">
          <xs:annotation>
            <xs:documentation>
              How the JAX-RS resources should be grouped.
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="class">
                <xs:annotation>
                  <xs:documentation>JAX-RS resources should be grouped by their resource class.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="path">
                <xs:annotation>
                  <xs:documentation>JAX-RS resources should be grouped by their path.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="annotation">
                <xs:annotation>
                  <xs:documentation>JAX-RS resources should be grouped by the value of their @com.webcohesion.enunciate.metadata.rs.ResourceGroup annotation.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="datatype-detection" type="datatype-detection-strategy">
          <xs:annotation>
            <xs:documentation>The detection strategy to use for JAX-RS data types.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxws">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="useSourceParameterNames" type="xs:boolean" default="false"/>
        <xs:attribute name="aggressiveWebMethodExcludePolicy" type="xs:boolean" default="false"/>
        <xs:attribute name="datatype-detection" type="datatype-detection-strategy">
          <xs:annotation>
            <xs:documentation>The detection strategy to use for JAX-WS data types.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-docs">
    <xs:annotation>
      <xs:documentation>The documentation deployment module is responsible for generating the documentation for the API. This includes both the HTML pages and
        any other static content put at the root of the web application.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="download" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>used to indicate another file or Enunciate artifact that is to be included in the "downloads" page.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a name for the download</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="artifact" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the id of an Enunciate artifact that is to be included as a download.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="file" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a file on the filesystem that is to be included as a download. This attribute is ignored if the "artifact" attribute is set
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="description" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a description of the download. This attribute is ignored if the "artifact" attribute is set.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="showLink" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>Whether to show a link to this artifact from the "files and libraries" page.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="additional-css" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Adds an additional css to the generated documentation, e.g. to override existing styles.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="file" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a file on the filesystem that is to be included as an additional css.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="docsDir" type="xs:string">
          <xs:annotation>
            <xs:documentation>The directory in the war to which the documentation will be put.  The default is usually set by the invocation engine (e.g. Maven, Ant).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="docsSubdir" type="xs:string">
          <xs:annotation>
            <xs:documentation>The subdirectory in documentation directory where the documentation will be put.  The generated documentation will assume that any integration points with the application will be relative to this subdirectory.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="css" type="xs:string">
          <xs:annotation>
            <xs:documentation>the file to be used as the cascading stylesheet for the HTML. If one isn't supplied, a default will be provided.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="indexPageName" type="xs:string" default="index.html">
          <xs:annotation>
            <xs:documentation>The name of the index page.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="freemarkerTemplate" type="xs:string">
          <xs:annotation>
            <xs:documentation>The file that is the freemarker template to use to generate the documentation. If none is supplied, a default one will be used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base" type="xs:string">
          <xs:annotation>
            <xs:documentation>specifies a gzipped file or a directory to use as the documentation base. If none is supplied, a default base will be provided.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disableRestMountpoint" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether to disable the REST mountpoint documentation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="defaultNamespace" type="xs:string">
          <xs:annotation>
            <xs:documentation>The default namespace for the purposes of generating documentation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-base">
    <xs:attribute name="disabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="reference-by-pattern">
    <xs:attribute name="pattern" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="reference-by-name">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="reference-by-fqn">
    <xs:attribute name="qualifiedName" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="application-context">
    <xs:attribute name="path">
      <xs:annotation>
        <xs:documentation>The context path.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
