top/src/main/resources/META-INF/enunciate-2.0.0-M.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      The Enunciate configuration schema. This is provided primarily for documentation purposes and to support
      code editors that support XML schema validation.

      When Enunciate parses the configuration file, there is no validation performed. This is because Enunciate
      can be extended with other modules that might have additional configuration options not shown in this
      schema.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="enunciate">

    <xs:annotation>
      <xs:documentation>
        The root "enunciate" element for the configuration.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="application" type="application" minOccurs="0" maxOccurs="1"/>
        <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        <xs:element name="api-classes" type="api-classes" minOccurs="0" maxOccurs="1"/>
        <xs:element name="namespaces" type="namespaces" minOccurs="0" maxOccurs="1"/>
        <xs:element name="modules" type="modules" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="forceJAXWSSpecCompliance" type="xs:boolean" default="false"/>
      <xs:attribute name="allowEmptyNamespace" type="xs:boolean" default="true"/>
      <xs:attribute name="includeReferencedClasses" type="xs:boolean" default="true"/>
      <xs:attribute name="excludeUnreferencedClasses" type="xs:boolean" default="true"/>
      <xs:attribute name="includeReferenceTrailInErrors" type="xs:boolean" default="true"/>
    </xs:complexType>

  </xs:element>

  <xs:complexType name="application">
    <xs:annotation>
      <xs:documentation>
        Configuration of the application with which the documentation is to be integrated.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="root" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>The root URI of the application.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="facets">
    <xs:annotation>
      <xs:documentation>
        The set of facets to include/exclude.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="include" type="reference-by-name" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclude" type="reference-by-name" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="api-classes">
    <xs:annotation>
      <xs:documentation>
        The set of classes to include/exclude.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="include" type="reference-by-pattern" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclude" type="reference-by-pattern" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="namespaces">

    <xs:annotation>
      <xs:documentation>
        Set of namespace declarations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="namespace" type="namespace" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace declaration. The id is the prefix that will be used as needed.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="uri" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modules">
    <xs:annotation>
      <xs:documentation>
        Set of modules to use to enunciate the web API.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <!--<xs:element name="c" type="module-c" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="csharp" type="module-csharp" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="cxf" type="module-cxf" minOccurs="0" maxOccurs="1"/>-->
      <xs:element name="docs" type="module-docs" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxb" type="module-jaxb" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jackson" type="module-jackson" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jackson1" type="module-jackson1" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxrs" type="module-jaxrs" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxws" type="module-jaxws" minOccurs="0" maxOccurs="1"/>
      <!--<xs:element name="gwt" type="module-gwt" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="java-client" type="module-java-client" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="obj-c" type="module-obj-c" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="php" type="module-php" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="ruby" type="module-ruby" minOccurs="0" maxOccurs="1"/>-->
      <!--<xs:element name="swagger" type="module-swagger" minOccurs="0" maxOccurs="1"/>-->
      <xs:element name="xml" type="module-idl" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="module-idl">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="schema" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="appinfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="useFile" type="xs:string"/>
              <xs:attribute name="file" type="xs:string"/>
              <xs:attribute name="location" type="xs:string"/>
              <xs:attribute name="jaxbBindingVersion" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="wsdl" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="useFile" type="xs:string"/>
              <xs:attribute name="file" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="wadlStylesheetUri" type="xs:string"/>
        <xs:attribute name="disableWadl" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--
  <xs:complexType name="module-java-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="server-side-type" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
        <xs:attribute name="jsonJarName" type="xs:string"/>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="generateJsonJar" type="xs:boolean"/>
        <xs:attribute name="disableCompile" type="xs:boolean"/>
        <xs:attribute name="bundleSourcesWithClasses" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-csharp">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="require" type="xs:boolean"/>
        <xs:attribute name="disableCompile" type="xs:boolean" default="false"/>
        <xs:attribute name="bundleFileName" type="xs:string"/>
        <xs:attribute name="DLLFileName" type="xs:string"/>
        <xs:attribute name="docXmlFileName" type="xs:string"/>
        <xs:attribute name="sourceFileName" type="xs:string"/>
        <xs:attribute name="singleFilePerClass" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-ruby">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="forceEnable" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-php">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="forceEnable" type="xs:boolean"/>
        <xs:attribute name="singleFilePerClass" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-swagger">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="dir" type="xs:string"/>
        <xs:attribute name="css" type="xs:string"/>
        <xs:attribute name="base" type="xs:string"/>
        <xs:attribute name="groupRestResources" type="xs:string"/>
        <xs:attribute name="applyBaseUriFilter" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-c">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="typeDefinitionNamePattern" type="xs:string"/>
        <xs:attribute name="enumConstantNamePattern" type="xs:string"/>
        <xs:attribute name="forceEnable" type="xs:boolean"/>
        <xs:attribute name="separateCommonCode" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-obj-c">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required"/>
              <xs:attribute name="identifier" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="packageIdentifierPattern" type="xs:string"/>
        <xs:attribute name="typeDefinitionNamePattern" type="xs:string"/>
        <xs:attribute name="enumConstantNamePattern" type="xs:string"/>
        <xs:attribute name="forceEnable" type="xs:boolean"/>
        <xs:attribute name="translateIdTo" type="xs:string"/>
        <xs:attribute name="separateCommonCode" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <!--
  <xs:complexType name="module-gwt">
    <xs:annotation>
      <xs:documentation>The GWT module configuration.</xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="war" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Used to configure the webapp that will host the AMF endpoints and Flex applications</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="gwtSubcontext" type="xs:string" default="/gwt">
                <xs:annotation>
                  <xs:documentation>the subcontext at which the gwt endpoints will be mounted</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="gwtAppDir" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the directory in the war to which the GWT applications will be put. The default is the root of the war.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="app" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The GWT module supports the development of GWT apps that can be compiled and packaged with the generated Enunciate app.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="module" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required">
                      <xs:annotation>
                        <xs:documentation>the name of the module. This is usually of the form "com.mycompany.MyModule" and it always has a corresponding
                          ".gwt.xml" module file.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outputPath" type="xs:string" default="">
                      <xs:annotation>
                        <xs:documentation>where the compiled module will be placed, relative to the application directory. By default, the outputPath is the
                          empty string (""), which means the compiled module will be placed at the root of the application directory.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shellPage" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>the (usually HTML) page to open when invoking the shell for this module (used to generate the shell script).
                          By default, the shell page is the [moduleId].html, where [moduleId] is the (short, unqualified) name of the module.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>name of the GWT app</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="srcDir" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>source directory for the application</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="javascriptStyle" default="OBF">
                <xs:annotation>
                  <xs:documentation>the JavaScript style that is to be applied by the GWTCompiler</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="OBF"/>
                    <xs:enumeration value="PRETTY"/>
                    <xs:enumeration value="DETAILED"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="gwtCompileJVMArg" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>additional JVM parameters that will be used when invoking GWTCompile.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gwtCompilerArg" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>additional arguments that will be passed to the GWT compiler.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="facets" type="facets" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="gwtHome" type="xs:string">
          <xs:annotation>
            <xs:documentation>The filesystem path to the GWT home directory.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rpcModuleName" type="xs:string">
          <xs:annotation>
            <xs:documentation>The name of the generated GWT rpc module.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="gwtVersion" type="xs:string">
          <xs:annotation>
            <xs:documentation>Set the version of GWT Enunciate will target for compiling purposes.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="generateJsonOverlays" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether to generate JSON overlays (default:false)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clientJarName" type="xs:string">
          <xs:annotation>
            <xs:documentation>The name of the client jar.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="gwtCompilerClass" type="xs:string">
          <xs:annotation>
            <xs:documentation>The GWT compiler class. Enunciate will determine the correct class based on the GWT version.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="gwtSubcontext" type="xs:string">
          <xs:annotation>
            <xs:documentation>The GWT subcontext.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="useWrappedServices" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>The "useWrappedServices" attribute specifies whether to use wrapped GWT client services.
              This is an artifact from when GWT 1.4 was supported and the generic types were unavailable.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enforceNamespaceConformance" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether to enforce namespace conformace on the server-side classes.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enforceNoFieldAccessors" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether to enforce that field accessors can't be used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clientJarDownloadable" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether the client jar is downloadable.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The "label" attribute specifies a label for the generated GWT client filenames. By default, the label is determined by the Enunciate project label.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disableCompile" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  -->

  <xs:complexType name="module-jaxb">
    <xs:complexContent>
      <xs:extension base="module-base">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jackson">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="honorJaxb" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether Jackson honors JAXB annotations. By default, JAXB annotations will be honors if jackson-xs is on the classpath.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jackson1">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="honorJaxb" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Whether Jackson honors JAXB annotations. By default, JAXB annotations will be honors if jackson-xs is on the classpath.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxrs">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="application" minOccurs="0" maxOccurs="1" type="application-context">
            <xs:annotation>
              <xs:documentation>
                Some JAX-RS applications could be mounted at a subcontext of the application. This elements allows for Enunciate to be aware of the
                subcontext of the JAX-RS application.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="custom-resource-parameter-annotation" minOccurs="0" maxOccurs="unbounded" type="reference-by-fqn">
            <xs:annotation>
              <xs:documentation>
                An additional custom resource parameter annotation. By default, Enunciate is aware of implementation-specific resource parameter annotations,
                but this allows an additional annotation to be configured.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="custom-system-parameter-annotation" minOccurs="0" maxOccurs="unbounded" type="reference-by-fqn">
            <xs:annotation>
              <xs:documentation>
                An additional custom resource parameter annotation. By default, Enunciate is aware of implementation-specific system parameter annotations,
                but this allows an additional annotation to be configured.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="groupBy">
          <xs:annotation>
            <xs:documentation>
              How the JAX-RS resources should be grouped.
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="class">
                <xs:annotation>
                  <xs:documentation>JAX-RS resources should be grouped by their resource class.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="path">
                <xs:annotation>
                  <xs:documentation>JAX-RS resources should be grouped by their path.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxws">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="forceJAXWSSpecCompliance" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>
              JAX-WS specifies specific parameter naming conventions. Enunciate, by default, uses names based on the source code. This
              configuration flag disabled Enunciate's default naming conventions to align with the specification.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="aggressiveWebMethodExcludePolicy" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-docs">
    <xs:annotation>
      <xs:documentation>The documentation deployment module is responsible for generating the documentation for the API. This includes both the HTML pages and
        any other static content put at the root of the web application.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="download" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>used to indicate another file or Enunciate artifact that is to be included in the "downloads" page.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a name for the download</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="artifact" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the id of an Enunciate artifact that is to be included as a download.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="file" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a file on the filesystem that is to be included as a download. This attribute is ignored if the "artifact" attribute is set
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="description" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a description of the download. This attribute is ignored if the "artifact" attribute is set.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="showLink" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>Whether to show a link to this artifact from the "files and libraries" page.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="additional-css" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Adds an additional css to the generated documentation, e.g. to override existing styles.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="file" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a file on the filesystem that is to be included as an additional css.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="docsDir" type="xs:string">
          <xs:annotation>
            <xs:documentation>The directory in the war to which the documentation will be put.  The default is usually set by the invocation engine (e.g. Maven, Ant).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="docsSubdir" type="xs:string">
          <xs:annotation>
            <xs:documentation>The subdirectory in documentation directory where the documentation will be put.  The generated documentation will assume that any integration points with the application will be relative to this subdirectory.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="splashPackage" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The package that contains the documentation to use as the introduction to the API documentation.
              By default, no text is used for the introduction.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="copyright" type="xs:string">
          <xs:annotation>
            <xs:documentation>the text for the copyright holder on the web page. By default, there is no copyright information displayed on the webpage.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string" default="Web API">
          <xs:annotation>
            <xs:documentation>the title of the generated HTML pages. By default, the title is "Web API".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="css" type="xs:string">
          <xs:annotation>
            <xs:documentation>the file to be used as the cascading stylesheet for the HTML. If one isn't supplied, a default will be provided.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="indexPageName" type="xs:string" default="index.html">
          <xs:annotation>
            <xs:documentation>The name of the index page.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="freemarkerTemplate" type="xs:string">
          <xs:annotation>
            <xs:documentation>The file that is the freemarker template to use to generate the documentation. If none is supplied, a default one will be used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base" type="xs:string">
          <xs:annotation>
            <xs:documentation>specifies a gzipped file or a directory to use as the documentation base. If none is supplied, a default base will be provided.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="disableRestMountpoint" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Whether to disable the REST mountpoint documentation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="defaultNamespace" type="xs:string">
          <xs:annotation>
            <xs:documentation>The default namespace for the purposes of generating documentation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-base">
    <xs:attribute name="disabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="reference-by-pattern">
    <xs:attribute name="pattern" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="reference-by-name">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="reference-by-fqn">
    <xs:attribute name="qualifiedName" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="application-context">
    <xs:attribute name="path">
      <xs:annotation>
        <xs:documentation>The context path.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
