top/src/main/resources/META-INF/enunciate-1.12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>
      The Enunciate configuration schema. This is provided primarily for documentation purposes and to support
      code editors that support XML schema validation.

      When Enunciate parses the configuration file, there is no validation performed. This is because Enunciate
      can be extended with other modules that might have additional configuration options not shown in this
      schema.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="enunciate">

    <xs:annotation>
      <xs:documentation>
        The root "enunciate" element for the configuration.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:sequence>
        <xs:element name="validator" type="validator" minOccurs="0" maxOccurs="1"/>
        <xs:element name="api-classes" type="api-classes" minOccurs="0" maxOccurs="1"/>
        <xs:element name="api-import" type="api-import" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="jaxb-import" type="jaxb-import" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="deployment" type="deployment" minOccurs="0" maxOccurs="1"/>
        <xs:element name="namespaces" type="namespaces" minOccurs="0" maxOccurs="1"/>
        <xs:element name="services" type="services" minOccurs="0" maxOccurs="1"/>
        <xs:element name="modules" type="modules" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="forceJAXWSSpecCompliance" type="xs:boolean" default="false"/>
      <xs:attribute name="allowEmptyNamespace" type="xs:boolean" default="true"/>
      <xs:attribute name="includeReferencedClasses" type="xs:boolean" default="true"/>
      <xs:attribute name="excludeUnreferencedClasses" type="xs:boolean" default="true"/>
    </xs:complexType>

  </xs:element>

  <xs:complexType name="validator">

    <xs:annotation>
      <xs:documentation>
        Used to define a custom validator to use to validate the web service declarations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="disable-rule" type="disable-rule" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="class" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="disable-rule">

    <xs:annotation>
      <xs:documentation>
        Used to disable a rule on the validator.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="api-classes">
    <xs:annotation>
      <xs:documentation>
        The set of classes to include/exclude.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="include" type="includeExcludeClass" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclude" type="includeExcludeClass" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="includeExcludeClass">
    <xs:attribute name="pattern" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="deployment">

    <xs:annotation>
      <xs:documentation>
        Used to define the deployment configuration.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="protocol" type="xs:string"/>
    <xs:attribute name="host" type="xs:string"/>
    <xs:attribute name="context" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="services">

    <xs:annotation>
      <xs:documentation>
        Custom configuration for specific services.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="soap" type="services-soap" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rest" type="services-rest" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="services-soap">

    <xs:annotation>
      <xs:documentation>
        Custom configuration for SOAP services.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="service" type="services-soap-service" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="defaultSubcontext" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="services-rest">

    <xs:annotation>
      <xs:documentation>
        Custom configuration for REST services.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="content-types" type="content-types" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>

    <xs:attribute name="defaultRestSubcontext" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="services-soap-service">

    <xs:annotation>
      <xs:documentation>
        Custom configuration for a specific soap service.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="relativePath" use="required" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="namespaces">

    <xs:annotation>
      <xs:documentation>
        Set of namespace declarations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="namespace" type="namespace" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace declaration. The id is the prefix that will be used as needed.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="uri" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="content-types">

    <xs:annotation>
      <xs:documentation>
        Set of namespace declarations.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="content-type" type="content-type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="content-type">
    <xs:annotation>
      <xs:documentation>
        A content-type declaration.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="jaxb-import">
    <xs:annotation>
      <xs:documentation>
        The JAXB imports allow external dependencies on JAXB types.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="api-import">
    <xs:annotation>
      <xs:documentation>
        Set of additional api classes to be Enunciated.
      </xs:documentation>
    </xs:annotation>

    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="pattern" type="xs:string"/>
    <xs:attribute name="seekSource" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="modules">
    <xs:annotation>
      <xs:documentation>
        Set of modules to use to enunciate the web API.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="amf" type="module-amf" minOccurs="0" maxOccurs="1"/>
      <xs:element name="csharp" type="module-csharp" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cxf" type="module-cxf" minOccurs="0" maxOccurs="1"/>
      <xs:element name="docs" type="module-docs" minOccurs="0" maxOccurs="1"/>
      <xs:element name="gwt" type="module-gwt" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxws" type="module-jaxws" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxws-client" type="module-jaxws-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jaxws-ri" type="module-jaxws-ri" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jersey" type="module-jersey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rest" type="module-rest" minOccurs="0" maxOccurs="1"/>
      <xs:element name="spring-app" type="module-spring-app" minOccurs="0" maxOccurs="1"/>
      <xs:element name="xfire" type="module-xfire" minOccurs="0" maxOccurs="1"/>
      <xs:element name="xfire-client" type="module-xfire-client" minOccurs="0" maxOccurs="1"/>
      <xs:element name="xml" type="module-xml" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="module-xml">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="schema" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="appinfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="file" type="xs:string"/>
              <xs:attribute name="location" type="xs:string"/>
              <xs:attribute name="jaxbBindingVersion" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="wsdl" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="namespace" type="xs:string" use="required"/>
              <xs:attribute name="file" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="prettyPrint" type="xs:boolean" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-xfire-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
        <xs:attribute name="disable14Client" type="xs:boolean" default="false"/>
        <xs:attribute name="disable15Client" type="xs:boolean" default="true"/>
        <xs:attribute name="uuid" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxws-client">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="server-side-type" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="jarName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-csharp">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="package-conversions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="convert" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="from" type="xs:string" use="required"/>
                    <xs:attribute name="to" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="require" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxws-ri">
    <xs:complexContent>
      <xs:extension base="module-base"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-xfire">
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:attribute name="xfireBeansImport" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-cxf">
    <xs:complexContent>
      <xs:extension base="module-base">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jaxws">
    <xs:complexContent>
      <xs:extension base="module-base">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="includeExcludeFilter">
    <xs:attribute name="pattern" type="xs:string"/>
    <xs:attribute name="file" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="module-spring-app">
    <xs:annotation><xs:documentation>Configuration for the Spring App module.</xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="war" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="includeLibs" minOccurs="0" maxOccurs="unbounded" type="includeExcludeFilter">
                  <xs:annotation><xs:documentation>Include filter for including/excluding libs</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="excludeLibs" minOccurs="0" maxOccurs="unbounded" type="includeExcludeFilter">
                  <xs:annotation><xs:documentation>Exclude filter for including/excluding libs</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="resource-env-ref" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation><xs:documentation>resource-env-ref to add to the web.xml</xs:documentation></xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="resource-ref" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation><xs:documentation>resource-ref to add to the web.xml</xs:documentation></xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="auth" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="env" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation><xs:documentation>env to add to the web.xml</xs:documentation></xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="value" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="manifest" minOccurs="0" maxOccurs="1">
                  <xs:annotation><xs:documentation>war manifest configuration</xs:documentation></xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="attribute" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string"/>
                          <xs:attribute name="value" type="xs:string"/>
                          <xs:attribute name="section" type="xs:string"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation><xs:documentation>specifies the name of the war</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="webXMLTransform" type="xs:string">
                <xs:annotation><xs:documentation>specifies the XSLT tranform file that the web.xml file will pass through before being copied to the WEB-INF directory.  No tranformation will be applied if none is specified.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="webXMLTransformURL" type="xs:string">
                <xs:annotation><xs:documentation>the URL to an XSLT tranform that the web.xml file will pass through before being copied to the WEB-INF directory.  No tranformation will be applied if none is specified.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="mergeWebXML" type="xs:string">
                <xs:annotation><xs:documentation>specifies the web.xml file that is to be merged into the Enunciate-generated web.xml file. No file will be merged if none is specified.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="mergeWebXMLURL" type="xs:string">
                <xs:annotation><xs:documentation>the URL to a web.xml file that is to be merged into the Enunciate-generated web.xml file. No file will be merged if none is specified.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="preBase" type="xs:string">
                <xs:annotation><xs:documentation>a directory (could be gzipped) that supplies a "base" for the war.  The directory contents will be copied to the building war directory BEFORE it is provided with any Enunciate-specific files and directories.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="postBase" type="xs:string">
                <xs:annotation><xs:documentation>a directory (could be gzipped) that supplies a "base" for the war.  The directory contents will be copied to the building war directory AFTER it is provided with any Enunciate-specific files and directories.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="includeClasspathLibs" type="xs:boolean" default="true">
                <xs:annotation><xs:documentation>whether Enunciate will use the libraries from the classpath for applying the include/exclude filters.  If "false" only the libs explicitly included by file (see below) will be filtered.</xs:documentation></xs:annotation>
              </xs:attribute>
              <xs:attribute name="excludeDefaultLibs" type="xs:boolean" default="true">
                <xs:annotation><xs:documentation> whether Enunciate should perform its default filtering of known compile-time-only jars.</xs:documentation></xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="springImport" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>spring import file for defining your own beans</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="file" type="xs:string"/>
              <xs:attribute name="uri" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="globalServiceInterceptor" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>spring AOP interceptor to apply to all services</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="interceptorClass" type="xs:string"/>
              <xs:attribute name="beanName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="globalServletFilter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>servlet filter to apply to all web service requests.</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="init-param">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string"/>
              <xs:attribute name="classname" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="handlerInterceptor" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>handler interceptor</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="interceptorClass" type="xs:string"/>
              <xs:attribute name="beanName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="handlerMapping" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>additional handler mappings</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string"/>
              <xs:attribute name="beanName" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="copyResources" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>resources to copy to the war.</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="pattern" type="xs:string"/>
              <xs:attribute name="dir" type="xs:string"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="security" minOccurs="0" maxOccurs="1" type="springSecurity"/>
        </xs:sequence>
        <xs:attribute name="enableSecurity" type="xs:boolean" default="false">
          <xs:annotation><xs:documentation>Whether to enable security.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="contextLoaderListenerClass" type="xs:string" default="org.springframework.web.context.ContextLoaderListener">
          <xs:annotation><xs:documentation>FQN of the class to use as the Spring context loader listener</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="doCompile" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>whether this module should take on the responsibility of compiling the server-side classes.  This may not be desired if the module is being used only for generating the war structure and configuration files.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="doLibCopy" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>whether this module should take on the responsibility of copying libraries to WEB-INF/lib.  This may not be desired if the module is being used only for generating the war structure and configuration files.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="doPackage" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>whether this module should take on the responsibility of packaging (zipping) up the war.  This may not be desired if the module is being used only for generating the war structure and configuration files.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="requireEndpointInstancesOfImplemenationClass" type="xs:boolean" default="false">
          <xs:annotation><xs:documentation>whether to require the endpoint instances to be of the endopint implementation type (instead of just the endpoint interface type).  Advanced feature.</xs:documentation></xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="implementationRef">
    <xs:attribute name="className" type="xs:string"/>
    <xs:attribute name="beanName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="springSecurity">
    <xs:sequence>
      <xs:element name="userDetailsService" minOccurs="0" maxOccurs="1" type="implementationRef">
        <xs:annotation><xs:documentation>used to specify the implementation of UserDetailsService to use</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="onAuthenticationFailed" minOccurs="0" maxOccurs="1">
        <xs:annotation><xs:documentation>used to specify the action to take if authentication fails.</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="useEntryPoint" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
          <xs:attribute name="redirectTo" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="onAccessDenied" minOccurs="0" maxOccurs="1">
        <xs:annotation><xs:documentation>used to specify the action to take if access is denied.</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:attribute name="redirectTo" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="anonymous" minOccurs="0" maxOccurs="1">
        <xs:annotation><xs:documentation>used to configure anonymous identity processing</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:attribute name="userId" type="xs:string"/>
          <xs:attribute name="roles" type="xs:string"/>
          <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="basicAuth" minOccurs="0" maxOccurs="1">
        <xs:annotation><xs:documentation>used to configure HTTP Auth</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:attribute name="realmName" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="digestAuth" minOccurs="0" maxOccurs="1">
        <xs:annotation><xs:documentation>used to configure HTTP Digest Auth</xs:documentation></xs:annotation>
        <xs:complexType>
          <xs:attribute name="realmName" type="xs:string"/>
          <xs:attribute name="key" type="xs:string"/>
          <xs:attribute name="nonceValiditySeconds" type="xs:int"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="oauth" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tokenServices" minOccurs="0" maxOccurs="1" type="implementationRef"/>
            <xs:element name="consumerDetailsService" minOccurs="0" maxOccurs="1" type="implementationRef"/>
          </xs:sequence>
          <xs:attribute name="infoURL" type="xs:string"/>
          <xs:attribute name="infoPageFile" type="xs:string"/>
          <xs:attribute name="accessConfirmationURL" type="xs:string"/>
          <xs:attribute name="confirmAccessPageFile" type="xs:string"/>
          <xs:attribute name="accessConfirmedURL" type="xs:string"/>
          <xs:attribute name="accessConfirmedPageFile" type="xs:string"/>
          <xs:attribute name="requestTokenURL" type="xs:string"/>
          <xs:attribute name="grantAccessURL" type="xs:string"/>
          <xs:attribute name="accessTokenURL" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="formBasedLogin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string"/>
          <xs:attribute name="loginPageFile" type="xs:string"/>
          <xs:attribute name="loginPageURL" type="xs:string"/>
          <xs:attribute name="redirectOnSuccessUrl" type="xs:string"/>
          <xs:attribute name="enableOpenId" type="xs:boolean" default="false"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="formBasedLogout" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="url" type="xs:string"/>
          <xs:attribute name="redirectOnSuccessUrl" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="rememberMe" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="url" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="pattern" type="xs:string"/>
          <xs:attribute name="rolesAllowed" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="filter" minOccurs="0" maxOccurs="unbounded" type="implementationRef"/>
      <xs:element name="primaryProvider" minOccurs="0" maxOccurs="1" type="implementationRef"/>
    </xs:sequence>
    <xs:attribute name="enableFormBasedLogin" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>used to enable a form-based login endpoint (for example, a browser-submitted form).</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="enableFormBasedLogout" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>enable a form-based logout endpoint (for example, a browser-submitted form)</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="enableRememberMeToken" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>used to enable Spring Security to set a remember-me token as a cookie in the HTTP response which can be used to "remember" the identity for a specified time.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="loadAnonymousIdentity" type="xs:boolean" default="true">
      <xs:annotation><xs:documentation>used to enable Spring Security to load an anonymous identity if no authentication is provided.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="enableBasicHTTPAuth" type="xs:boolean" default="true">
      <xs:annotation><xs:documentation>used to enable HTTP Basic Authentication.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="enableDigestHTTPAuth" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>used to enable HTTP Digest Authentication</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="enableOAuth" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>used to enable OAuth</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="initJ2EESecurityContext" type="xs:boolean" default="true">
      <xs:annotation><xs:documentation>used to enable Spring Security to initialize the J2EE security context with the attributes of the current identity.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="applySecurityToSOAPUrls" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>Whether to apply security to the soap urls. This is different from the security that is applied to the SOAP endpoints, which is always applied.</xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="disableDefaultProvider" type="xs:boolean" default="false">
      <xs:annotation><xs:documentation>is used to disable the Enunciate-supplied default authentication provider. If the Enunciate-supplied provider is disabled, one will have to be custom-provided in the spring context. Note that setting this to "true" effectively causes Enunciate to ignore the "userDetailsService" child element.</xs:documentation></xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="module-rest">
    <xs:annotation><xs:documentation>Configuration for the REST module.</xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="json" minOccurs="0" maxOccurs="1">
            <xs:annotation><xs:documentation>supports configuration options for JSON serialization</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="defaultJsonSerialization">
                <xs:annotation><xs:documentation>used to define the default default JSON serialization method.</xs:documentation></xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="hierarchical"/>
                    <xs:enumeration value="xmlMapped"/>
                    <xs:enumeration value="badgerfish"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="xstreamReferenceAction">
                <xs:annotation><xs:documentation>used to define the action that XStream takes with object references</xs:documentation></xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="relative_references"/>
                    <xs:enumeration value="id_references"/>
                    <xs:enumeration value="no_references"/>
                    <xs:enumeration value="absolute_references"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="content-type-handlers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="handler" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="contentType" type="xs:string"/>
                    <xs:attribute name="class" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultContentTypeHandler" type="xs:string" default="org.codehaus.enunciate.modules.rest.xml.JaxbXmlContentHandler">
          <xs:annotation><xs:documentation>used to define the default content type handler when no others are found for a given content type.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="requireJAXBCompatibility" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>used to disable the requirement that return types and noun values be JAXB-compatible. Since Enunciate uses JAXB by default for marshalling and umarshalling, this requirement should only be disabled if you have provided your own content type handlers.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="handlerExceptionResolver" type="xs:string" default="org.codehaus.enunciate.modules.rest.RESTResourceExceptionHandler">
          <xs:annotation><xs:documentation>Used to set the exception handler responsible for handling exceptions that arise within the course of running the resource</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="conversionSupport" type="xs:string" default="org.codehaus.enunciate.modules.rest.DefaultConverter">
          <xs:annotation><xs:documentation>The converter to use when populating method parameters from request parameters</xs:documentation></xs:annotation>
        </xs:attribute>                
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-jersey">
    <xs:annotation><xs:documentation>Configuration for the Jersey module</xs:documentation></xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="init-param" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation><xs:documentation>The init parameters to apply to the jersey servlet.</xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="name" type="xs:string"/>
              <xs:attribute name="value" type="xs:string"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="useSubcontext" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>used to enable/disable mounting the JAX-RS resources at the rest subcontext.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="usePathBasedConneg" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>used to enable/disable path-based conneg</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="disableWildcardServletError" type="xs:boolean" default="false">
          <xs:annotation><xs:documentation>used to enable/disable the Enunciate "wildcard" resource check.</xs:documentation></xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-gwt">
    <xs:annotation>
      <xs:documentation>The GWT module configuration.</xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="war" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Used to configure the webapp that will host the AMF endpoints and Flex applications</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="gwtSubcontext" type="xs:string" default="/gwt">
                <xs:annotation>
                  <xs:documentation>the subcontext at which the gwt endpoints will be mounted</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="gwtAppDir" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the directory in the war to which the GWT applications will be put. The default is the root of the war.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="app" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The GWT module supports the development of GWT apps that can be compiled and packaged with the generated Enunciate app.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="module" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required">
                      <xs:annotation>
                        <xs:documentation>the name of the module. This is usually of the form "com.mycompany.MyModule" and it always has a corresponding
                          ".gwt.xml" module file.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outputDir" type="xs:string" default="">
                      <xs:annotation>
                        <xs:documentation>where the compiled module will be placed, relative to the application directory. By default, the outputDir is the
                          empty string (""), which means the compiled module will be placed at the root of the application directory.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="shellPage" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>the (usually HTML) page to open when invoking the shell for this module (used to generate the shell script).
                          By default, the shell page is the [moduleId].html, where [moduleId] is the (short, unqualified) name of the module.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>name of the GWT app</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="srcDir" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>source directory for the application</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="javascriptStyle" default="OBF">
                <xs:annotation>
                  <xs:documentation>the JavaScript style that is to be applied by the GWTCompiler</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="OBF"/>
                    <xs:enumeration value="PRETTY"/>
                    <xs:enumeration value="DETAILED"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="gwtCompileJVMArg" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>additional JVM parameters that will be used when invoking GWTCompile.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gwtCompilerArg" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>additional arguments that will be passed to the GWT compiler.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>

        <xs:attribute name="gwtHome" type="xs:string">
          <xs:annotation>
            <xs:documentation>The filesystem path to the GWT home directory.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rpcModuleName" type="xs:string">
          <xs:annotation>
            <xs:documentation>The name of the generated GWT rpc module.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-docs">
    <xs:annotation>
      <xs:documentation>The documentation deployment module is responsible for generating the documentation for the API. This includes both the HTML pages and
        any other static content put at the root of the web application.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="download" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>used to indicate another file or Enunciate artifact that is to be included in the "downloads" page.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a name for the download</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="artifact" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the id of an Enunciate artifact that is to be included as a download.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="file" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a file on the filesystem that is to be included as a download. This attribute is ignored if the "artifact" attribute is set
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="description" type="xs:string">
                <xs:annotation>
                  <xs:documentation>a description of the download. This attribute is ignored if the "artifact" attribute is set.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="war" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>used to configure the webapp that will host the documenation.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="docsDir" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the directory in the war to which the documentation will be put.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="docsDir" type="xs:string">
          <xs:annotation>
            <xs:documentation>The directory in the war to which the documentation will be put.  The default is the root of the war.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="splashPackage" type="xs:string">
          <xs:annotation>
            <xs:documentation>the package that contains the documentation to use as the introduction to the API documentation. By default, no text is used for
              the introduction.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="copyright" type="xs:string">
          <xs:annotation>
            <xs:documentation>the text for the copyright holder on the web page. By default, there is no copyright information displayed on the webpage.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string" default="Web API">
          <xs:annotation>
            <xs:documentation>the title of the generated HTML pages. By default, the title is "Web API".</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="includeDefaultDownloads" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>whether the default downloads should be included.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="css" type="xs:string">
          <xs:annotation>
            <xs:documentation>the file to be used as the cascading stylesheet for the HTML. If one isn't supplied, a default will be provided.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="xslt" type="xs:string">
          <xs:annotation>
            <xs:documentation>the file that is the XML Stylesheet Transform that will be applied to the documentation XML to generate the HTML docs. If no XSLT
              is specified, a default one will be used.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="xsltURL" type="xs:string">
          <xs:annotation>
            <xs:documentation>the URL to the XML Stylesheet Transform that will be applied to the documentation XML to generate the HTML docs. If no XSLT is
              specified, a default one will be used.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base" type="xs:string">
          <xs:annotation>
            <xs:documentation>specifies a gzipped file or a directory to use as the documentation base. If none is supplied, a default base will be provided.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="applyWsdlFilter" type="xs:boolean" default="true">
          <xs:annotation><xs:documentation>Whether to apply a filter for the WSDL files that will attempt to resolve the soap paths dynamically.</xs:documentation></xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-amf">
    <xs:annotation>
      <xs:documentation>The AMF module configuration.</xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="module-base">
        <xs:sequence>
          <xs:element name="war" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Used to configure the webapp that will host the AMF endpoints and Flex applications</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="amfSubcontext" type="xs:string" default="/amf">
                <xs:annotation>
                  <xs:documentation>the subcontext at which the amf endpoints will be mounted</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="flexAppDir" type="xs:string">
                <xs:annotation>
                  <xs:documentation>the directory in the war to which the flex applications will be put. The default is the root of the war.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="compiler" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>used to configure the compiler that will be used to compile the SWC and the Flex applications. The attributes associate directly
                to the Flex compiler options. For details, see the documentation for the Flex compiler.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="JVMArg">
                  <xs:annotation>
                    <xs:documentation>
                      additional JVM arguments, passed in order to the JVM used to invoke the compiler
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="value" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="arg">
                  <xs:annotation>
                    <xs:documentation>
                      additional compiler arguments, passed in order to the compiler
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:attribute name="value" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="license">
                  <xs:complexType>
                    <xs:attribute name="product" type="xs:string"/>
                    <xs:attribute name="serialNumber" type="xs:string"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="contextRoot" type="xs:string"/>
              <xs:attribute name="flexConfig" type="xs:string"/>
              <xs:attribute name="flexCompileCommand" type="xs:string" default="flex2.tools.Compiler"/>
              <xs:attribute name="swcCompileCommand" type="xs:string" default="flex2.tools.Compc"/>
              <xs:attribute name="locale" type="xs:string"/>
              <xs:attribute name="optimize" type="xs:boolean"/>
              <xs:attribute name="debug" type="xs:boolean"/>
              <xs:attribute name="profile" type="xs:boolean"/>
              <xs:attribute name="strict" type="xs:boolean"/>
              <xs:attribute name="useNetwork" type="xs:boolean"/>
              <xs:attribute name="incremental" type="xs:boolean"/>
              <xs:attribute name="warnings" type="xs:boolean"/>
              <xs:attribute name="showActionscriptWarnings" type="xs:boolean"/>
              <xs:attribute name="showBindingWarnings" type="xs:boolean"/>
              <xs:attribute name="showDeprecationWarnings" type="xs:boolean"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="app" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The AMF module supports the development of Flex apps that can be compiled and packaged with the generated Enunciate app.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>name of the Flex app</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="srcDir" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>source directory for the application</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="mainMxmlFile" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>the main mxml file for the app. This attribute is required. The path to this file is resolved
                    relative to the enunciate.xml file (not to the "srcDir" attribute of the app).
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="flexHome" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The filesystem path to the Flex home directory.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="swcName" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The "swcName" attribute specifies the name of the compiled SWC. By default, the name is determined by the Enunciate project label
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="swcDownloadable" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>
              The "swcDownloadable" attribute specifies whether the generated SWC is to be made available as a download from the generated web application.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="asSourcesDownloadable" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>
              The "asSourcesDownloadable" attribute specifies whether the generated ActionScript source code is available as a download from the generated web
              application.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="module-base">
    <xs:attribute name="disabled" type="xs:boolean"/>
  </xs:complexType>

</xs:schema>
