examples/contract-first/src/main/contract/EPCglobal-epcis-query-1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- EPCIS QUERY SERVICE DEFINITIONS -->
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:epcis="urn:epcglobal:epcis:xsd:1" xmlns:epcisq="urn:epcglobal:epcis-query:xsd:1" xmlns:epcglobal="urn:epcglobal:xsd:1" xmlns:impl="urn:epcglobal:epcis:wsdl:1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:epcglobal:epcis:wsdl:1">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:epcglobal:epcis:wsdl:1" xmlns:impl="urn:epcglobal:epcis:wsdl:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:epcglobal:xsd:1" schemaLocation="EPCglobal.xsd"/>
			<xsd:import namespace="urn:epcglobal:epcis:xsd:1" schemaLocation="EPCglobal-epcis-1_0.xsd"/>
			<xsd:import namespace="urn:epcglobal:epcis-query:xsd:1" schemaLocation="EPCglobal-epcis-query-1_0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getQueryNamesRequest">
		<wsdl:part name="parms" element="epcisq:GetQueryNames"/>
	</wsdl:message>
	<wsdl:message name="getQueryNamesResponse">
		<wsdl:part name="getQueryNamesReturn" element="epcisq:GetQueryNamesResult"/>
	</wsdl:message>
	<wsdl:message name="subscribeRequest">
		<wsdl:part name="parms" element="epcisq:Subscribe"/>
	</wsdl:message>
	<wsdl:message name="subscribeResponse">
		<wsdl:part name="subscribeReturn" element="epcisq:SubscribeResult"/>
	</wsdl:message>
	<wsdl:message name="unsubscribeRequest">
		<wsdl:part name="parms" element="epcisq:Unsubscribe"/>
	</wsdl:message>
	<wsdl:message name="unsubscribeResponse">
		<wsdl:part name="unsubscribeReturn" element="epcisq:UnsubscribeResult"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionIDsRequest">
		<wsdl:part name="parms" element="epcisq:GetSubscriptionIDs"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionIDsResponse">
		<wsdl:part name="getSubscriptionIDsReturn" element="epcisq:GetSubscriptionIDsResult"/>
	</wsdl:message>
	<wsdl:message name="pollRequest">
		<wsdl:part name="parms" element="epcisq:Poll"/>
	</wsdl:message>
	<wsdl:message name="pollResponse">
		<wsdl:part name="pollReturn" element="epcisq:QueryResults"/>
	</wsdl:message>
	<wsdl:message name="getStandardVersionRequest">
		<wsdl:part name="parms" element="epcisq:GetStandardVersion"/>
	</wsdl:message>
	<wsdl:message name="getStandardVersionResponse">
		<wsdl:part name="getStandardVersionReturn" element="epcisq:GetStandardVersionResult"/>
	</wsdl:message>
	<wsdl:message name="getVendorVersionRequest">
		<wsdl:part name="parms" element="epcisq:GetVendorVersion"/>
	</wsdl:message>
	<wsdl:message name="getVendorVersionResponse">
		<wsdl:part name="getVendorVersionReturn" element="epcisq:GetVendorVersionResult"/>
	</wsdl:message>
	<wsdl:message name="DuplicateNameExceptionResponse">
		<wsdl:part name="fault" element="epcisq:DuplicateNameException"/>
	</wsdl:message>
	<wsdl:message name="InvalidURIExceptionResponse">
		<wsdl:part name="fault" element="epcisq:InvalidURIException"/>
	</wsdl:message>
	<wsdl:message name="NoSuchNameExceptionResponse">
		<wsdl:part name="fault" element="epcisq:NoSuchNameException"/>
	</wsdl:message>
	<wsdl:message name="NoSuchSubscriptionExceptionResponse">
		<wsdl:part name="fault" element="epcisq:NoSuchSubscriptionException"/>
	</wsdl:message>
	<wsdl:message name="DuplicateSubscriptionExceptionResponse">
		<wsdl:part name="fault" element="epcisq:DuplicateSubscriptionException"/>
	</wsdl:message>
	<wsdl:message name="QueryParameterExceptionResponse">
		<wsdl:part name="fault" element="epcisq:QueryParameterException"/>
	</wsdl:message>
	<wsdl:message name="QueryTooLargeExceptionResponse">
		<wsdl:part name="fault" element="epcisq:QueryTooLargeException"/>
	</wsdl:message>
	<wsdl:message name="QueryTooComplexExceptionResponse">
		<wsdl:part name="fault" element="epcisq:QueryTooComplexException"/>
	</wsdl:message>
	<wsdl:message name="SubscriptionControlsExceptionResponse">
		<wsdl:part name="fault" element="epcisq:SubscriptionControlsException"/>
	</wsdl:message>
	<wsdl:message name="SubscribeNotPermittedExceptionResponse">
		<wsdl:part name="fault" element="epcisq:SubscribeNotPermittedException"/>
	</wsdl:message>
	<wsdl:message name="SecurityExceptionResponse">
		<wsdl:part name="fault" element="epcisq:SecurityException"/>
	</wsdl:message>
	<wsdl:message name="ValidationExceptionResponse">
		<wsdl:part name="fault" element="epcisq:ValidationException"/>
	</wsdl:message>
	<wsdl:message name="ImplementationExceptionResponse">
		<wsdl:part name="fault" element="epcisq:ImplementationException"/>
	</wsdl:message>
	<wsdl:portType name="EPCISServicePortType">
		<wsdl:operation name="getQueryNames">
			<wsdl:input name="getQueryNamesRequest" message="impl:getQueryNamesRequest"/>
			<wsdl:output name="getQueryNamesResponse" message="impl:getQueryNamesResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="subscribe">
			<wsdl:input name="subscribeRequest" message="impl:subscribeRequest"/>
			<wsdl:output name="subscribeResponse" message="impl:subscribeResponse"/>
			<wsdl:fault name="NoSuchNameExceptionFault" message="impl:NoSuchNameExceptionResponse"/>
			<wsdl:fault name="InvalidURIExceptionFault" message="impl:InvalidURIExceptionResponse"/>
			<wsdl:fault name="DuplicateSubscriptionExceptionFault" message="impl:DuplicateSubscriptionExceptionResponse"/>
			<wsdl:fault name="QueryParameterExceptionFault" message="impl:QueryParameterExceptionResponse"/>
			<wsdl:fault name="QueryTooComplexExceptionFault" message="impl:QueryTooComplexExceptionResponse"/>
			<wsdl:fault name="SubscriptionControlsExceptionFault" message="impl:SubscriptionControlsExceptionResponse"/>
			<wsdl:fault name="SubscribeNotPermittedExceptionFault" message="impl:SubscribeNotPermittedExceptionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<wsdl:input name="unsubscribeRequest" message="impl:unsubscribeRequest"/>
			<wsdl:output name="unsubscribeResponse" message="impl:unsubscribeResponse"/>
			<wsdl:fault name="NoSuchSubscriptionExceptionFault" message="impl:NoSuchSubscriptionExceptionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubscriptionIDs">
			<wsdl:input name="getSubscriptionIDsRequest" message="impl:getSubscriptionIDsRequest"/>
			<wsdl:output name="getSubscriptionIDsResponse" message="impl:getSubscriptionIDsResponse"/>
			<wsdl:fault name="NoSuchNameExceptionFault" message="impl:NoSuchNameExceptionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="poll">
			<wsdl:input name="pollRequest" message="impl:pollRequest"/>
			<wsdl:output name="pollResponse" message="impl:pollResponse"/>
			<wsdl:fault name="QueryParameterExceptionFault" message="impl:QueryParameterExceptionResponse"/>
			<wsdl:fault name="QueryTooLargeExceptionFault" message="impl:QueryTooLargeExceptionResponse"/>
			<wsdl:fault name="QueryTooComplexExceptionFault" message="impl:QueryTooComplexExceptionResponse"/>
			<wsdl:fault name="NoSuchNameExceptionFault" message="impl:NoSuchNameExceptionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStandardVersion">
			<wsdl:input name="getStandardVersionRequest" message="impl:getStandardVersionRequest"/>
			<wsdl:output name="getStandardVersionResponse" message="impl:getStandardVersionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getVendorVersion">
			<wsdl:input name="getVendorVersionRequest" message="impl:getVendorVersionRequest"/>
			<wsdl:output name="getVendorVersionResponse" message="impl:getVendorVersionResponse"/>
			<wsdl:fault name="SecurityExceptionFault" message="impl:SecurityExceptionResponse"/>
			<wsdl:fault name="ValidationExceptionFault" message="impl:ValidationExceptionResponse"/>
			<wsdl:fault name="ImplementationExceptionFault" message="impl:ImplementationExceptionResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EPCISServiceBinding" type="impl:EPCISServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getQueryNames">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="subscribe">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidURIExceptionFault">
				<wsdlsoap:fault name="InvalidURIExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateSubscriptionExceptionFault">
				<wsdlsoap:fault name="DuplicateSubscriptionExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryParameterExceptionFault">
				<wsdlsoap:fault name="QueryParameterExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryTooComplexExceptionFault">
				<wsdlsoap:fault name="QueryTooComplexExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SubscribeNotPermittedExceptionFault">
				<wsdlsoap:fault name="SubscribeNotPermittedExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SubscriptionControlsExceptionFault">
				<wsdlsoap:fault name="SubscriptionControlsExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NoSuchSubscriptionExceptionFault">
				<wsdlsoap:fault name="NoSuchSubscriptionExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSubscriptionIDs">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="poll">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="QueryParameterExceptionFault">
				<wsdlsoap:fault name="QueryParameterExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryTooComplexExceptionFault">
				<wsdlsoap:fault name="QueryTooComplexExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryTooLargeExceptionFault">
				<wsdlsoap:fault name="QueryTooLargeExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="NoSuchNameExceptionFault">
				<wsdlsoap:fault name="NoSuchNameExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStandardVersion">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getVendorVersion">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityExceptionFault">
				<wsdlsoap:fault name="SecurityExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ValidationExceptionFault">
				<wsdlsoap:fault name="ValidationExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ImplementationExceptionFault">
				<wsdlsoap:fault name="ImplementationExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EPCglobalEPCISService">
		<wsdl:port name="EPCglobalEPCISServicePort" binding="impl:EPCISServiceBinding">
			<wsdlsoap:address location="http://localhost:6060/axis/services/EPCglobalEPCISService"/>
			<!-- The address shown below is an example; an implementation MAY specify
         any port it wishes
     -->
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation>
		<epcglobal:copyright>
       Copyright (C) 2006, 2005 EPCglobal Inc., All Rights Reserved.
    </epcglobal:copyright>
		<epcglobal:disclaimer>
        EPCglobal Inc., its members, officers, directors, employees, or agents shall not be liable for any injury, loss, damages, financial or otherwise, arising from, related to, or caused by the use of this document.  The use of said document shall constitute your express consent to the foregoing exculpation.
    </epcglobal:disclaimer>
		<epcglobal:specification>
    </epcglobal:specification>
	</wsdl:documentation>
	<!-- EPCISSERVICE TYPES -->
	<!-- EPCIS QUERY SERVICE MESSAGES -->
	<!-- EPCISSERVICE FAULT EXCEPTIONS -->
	<!-- QueryValidationException not implemented in EPCIS 1.0
  <wsdl:message name="QueryValidationExceptionResponse">
      <wsdl:part name="fault" element="epcisq:QueryValidationException"/>
  </wsdl:message>
      -->
	<!-- EPCISSERVICE PORTTYPE -->
	<!-- EPCISSERVICE BINDING -->
	<!-- EPCISSERVICE -->
</wsdl:definitions>
